// .topChartBox {
//   display: flex;
//   .taskArea {
//     flex: 1.5;
//     border: 1px solid #bdbdbd;
//     h3 {
//       font-size: 20px;
//       height: 50px;
//       line-height: 50px;
//       border-bottom: 1px solid #bdbdbd;
//       padding: 0 15px;
//       margin: 0;
//     }
//     &-content {
//       padding: 10px 15px 15px 15px;
//       display: flex;
//       &-number {
//         flex: 1;
//       }
//       &-state {
//         flex: 2;
//         display: flex;
//         align-items: center;
//         height: 300px;
//       }
//       &-project {
//         flex: 2;
//         display: flex;
//         align-items: center;
//         height: 300px;
//       }
//     }
//   }
//   .projectProgress {
//     flex: 1;
//     margin-left: 20px;
//   }
// }
#aaa,
#bbb,
#ccc,
#ddd,
#eee,
#fff {
  .g2-tooltip {
    border-style: solid;
    background-color: rgba(50, 50, 50, 0.55) !important;
    border-width: 0px;
    border-color: rgb(51, 51, 51);
    color: rgb(255, 255, 255) !important;
    font-family: "MicrosoftYaHei" !important;
    box-shadow: none !important;
    border-radius: 4px !important;
    font-size: 14px !important;

    padding: 0 !important;
    .g2-tooltip-list {
      width: 160px;
      height: 180px;
      box-sizing: border-box;
      margin: 0 !important;
      padding: 10px !important;
      font-size: 14px;
      background-color: rgba(50, 50, 50, 0.55);
      color: #fff;
      .g2-tooltip-marker {
        width: 10px !important;
        height: 10px !important;
      }
      .g2-tooltip-value {
        float: none !important;
        margin-left: 4px !important;
      }
    }
  }
}
#aaa .g2-tooltip-list li:nth-of-type(2n) {
  margin-left: 37px;
  font-size: 12px;
  .g2-tooltip-marker {
    display: none !important;
  }
}
#bbb .g2-tooltip-list li:nth-of-type(2n) {
  margin-left: 37px;
  font-size: 12px;
  .g2-tooltip-marker {
    display: none !important;
  }
}
#ccc,
#ddd,
#eee,
#fff {
  .g2-tooltip-list li:nth-of-type(3) {
    margin-left: 22px;
    font-size: 12px;
    .g2-tooltip-marker {
      display: none !important;
    }
  }
  .g2-tooltip-list li:nth-of-type(5) {
    margin-left: 22px;
    font-size: 12px;
    .g2-tooltip-marker {
      display: none !important;
    }
  }
  .g2-tooltip-list li:nth-of-type(7) {
    margin-left: 22px;
    font-size: 12px;
    .g2-tooltip-marker {
      display: none !important;
    }
  }
}

// g2-tooltip-list
