.upDateTime {
  // margin-bottom: 100px;
  // text-align: center;
  // line-height: 40px;
  // padding-left: 30px;
  padding-top: 30px;
  text-align: right;
  // margin-right: 30px;
  cursor: pointer;
  .upDateTimeNew {
    color: rgba(30, 136, 229, 1);
    font-weight: 600;
    text-align: right;
    // margin-right: 30px;
    padding-right: 40px;
  }
  .upDateTimeNum {
    padding-right: 40px;
  }
  div {
    font-size: 20px;
  }
  span {
    color: rgba(189, 189, 189, 1);
    padding-right: 40px;
    font-size: 12px;
    position: relative;
    top: -8px;
  }
}
.ant-modal-body {
  // margin-top: 20px;
}
.ant-modal .ant-modal-content {
  height: 80%;
  border-radius: 2px;
  box-shadow: 1px 1px 8px 0px #757575;
}
.ant-modal-body::-webkit-scrollbar {
  width: 0 !important;
}
.upMask {
  border-radius: 0%;
}
.moreText {
  // margin-top: 30px;
}
.moreTextlast {
  // margin-top: 20px;
}
.upName {
  border-left: 1px solid rgba(238, 238, 238, 1);
  padding: 32px 32px 0 0;
  div {
    color: rgba(33, 33, 33, 1);
    font-size: 18px;
    padding-left: 32px;
    // padding-bottom: 10px;
    font-weight: bold;
  }
  p {
    color: rgba(117, 117, 117, 1);
    font-size: 14px;
    padding-left: 32px;
    line-height: 30px;
    text-align: justify;
    // margin-bottom: 35px;
  }
  .demo {
    color: rgba(100, 181, 246, 1);
    font-size: 12px;
    cursor: pointer;
    float: right;
  }
  .upGif {
    background-color: #64b5f6;
    padding: 0px 8px;
    font-size: 12px;
    border-radius: 2px;
    color: #fff;
    margin-left: 6px;
    cursor: pointer;
  }
  .upVersion {
    background-color: rgb(255, 175, 34);
    padding: 0px 6px;
    font-size: 12px;
    border-radius: 2px;
    color: #fff;
    margin-left: 6px;
  }
  .dotBlue {
    width: 10px;
    height: 10px;
    background-color: #64b5f6;
    border-radius: 50%;
    position: absolute;
    display: block;
    top: 40px;
    left: -6px;
  }
  .dotbdbdbd {
    width: 10px;
    height: 10px;
    background-color: #bdbdbd;
    border-radius: 50%;
    position: absolute;
    display: block;
    top: 40px;
    left: -6px;
  }
}
.versionModel {
  .ant-modal-body {
    padding: 0;
  }
}
