.freeLimitModal {
  .ant-modal-body::-webkit-scrollbar {
    width: 0 !important;
  }
  .ant-modal-content {
    border-radius: 2px;
  }
  .ant-modal-body {
    padding: 20px;
  }
  .img {
    overflow: auto;
    max-width: 850px;
    img {
      max-width: 100%;
    }
  }
  .closeIcon {
    position: absolute;
    right: 20px;
    cursor: pointer;
  }
  .writeBox {
    .limitMesg {
      color: #1e88e5;
      margin-right: 10px;
      font-size: 16px;
    }
    .versionMeg {
      text-decoration: underline;
      color: #bdbdbd;
      font-size: 12px;
      cursor: pointer;
    }
    .myBorder {
      height: 1px;
      width: 520px;
      background-color: rgba(245, 245, 245, 1);
      margin-left: -20px;
    }
    .text {
      margin-top: 20px;
      .free {
        margin-bottom: 20px;
      }
      .basic {
        margin-bottom: 20px;
      }
      b {
        color: rgba(255, 167, 38, 1);
      }
    }
    .renew {
      margin-top: 20px;
      float: right;
      .shouquan {
        cursor: pointer;
        text-decoration: underline;
        margin-right: 10px;
        font-size: 12px;
        color: #bdbdbd;
        vertical-align: bottom;
      }
    }
  }
}
